main {
  max-width: 1317px;
  margin: 0 auto;
  padding: 0 32px;
}
.Home_credits {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
  margin-bottom: 26px;
}
.Home_spanUser {
  font-weight: 700;
  color: #828282;
}